body {
  background: #304352;
  background: -webkit-linear-gradient(to right, #d7d2cc, #304352);
  background: linear-gradient(to right, #d7d2cc, #304352);
}

a {
  color: blue;
  text-decoration: none;
}
